{% extends 'kai.html' %}
{% load crispy_forms_tags %}
{% block content %}
<table class="table table-dark table_striped">
  <thead>
    <tr>
      <th scope="col">sl no</th>
      <th scope="col">Food Name</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
        <th scope="col">Delete</th>
        <th scope="col">Update</th>
    </tr>
  </thead>
  <tbody>
{% for food_name in data %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{food_name.name}}</td>
      <td>{{food_name.cost}}</td>
      <td>{{food_name.category}}</td>
    <td>

         <form action="{% url 'food_delete' food_name.id %}" method="POST">
                               {% csrf_token %}
                               <button type = "submit">Delete</button>

         </form>
    </td>
    <td>
        <a href = "{% url 'food_update' food_name.id %}" class="btn btn-danger">Update</a>
    </td>
  {% endfor %}

</table>
{% endblock %}